<div class="col-md-12">
  <br>
  <br>
  <br>
  <br>
</div>

<div class="col-md-12">
  <div class="dropdown clearfix pull-right">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("Lower Salary", tasks_path(:order => "by_lower_bound")) %>
        </li>
        <li>
            <%= link_to("Upper Salary", tasks_path(:order => "by_upper_bound")) %>
        </li>
        <li>
          <%= link_to("Publish Time", tasks_path ) %>
        </li>
    </ul>
</div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>Task</td>
        <td>Lower</td>
        <td>Upper</td>
        <td>Created</td>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= link_to(task.title, task_path(task)) %></td>
          <td><%= task.wage_lower_bound %></td>
          <td><%= task.wage_upper_bound %></td>
          <td><%= task.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
