<div class="pull-right">
  <%= link_to("Add a task", new_admin_task_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
    <thead>
        <tr>
            <td>
                职缺
            </td>

            <td>
              收到设计单数量
            </td>
            <td>
                设计费下限
            </td>
            <td>
                设计费上限
            </td>
            <td>
                管理选项
            </td>
            <td>
                刊登时间
            </td>
        </tr>
    </thead>

    <% @tasks.each do |task| %>
    <tr>

        <td>
            <%= render_task_status(task) %>

            <%= link_to(task.title, admin_task_path(task)) %>
        </td>
        <td> <%= link_to(task.resumes.count, admin_task_resumes_path(task)) %> </td>
        <td> <%= task.wage_lower_bound %> </td>
        <td> <%= task.wage_upper_bound %> </td>
        <td>
            <%= link_to("Edit", edit_admin_task_path(task)) %>
            |
            <%= link_to("Destroy", admin_task_path(task), :method => :delete, :data => { :confirm => "Are you sure?" }) %>

            |
            <% if task.is_hidden %>

            <%= link_to("Publish", publish_admin_task_path(task) , :method => :post, :class => "btn btn-xs btn-default") %>
        <% else %>
            <%= link_to("Hide", hide_admin_task_path(task), :method => :post,  :class => "btn btn-xs btn-default") %>
            <% end %>
        </td>
        <td>
            <%= task.created_at %>
        </td>
    </tr>
    <% end %>
</table>
