<div class="pull-right">
  <%= link_to("Add a task", new_admin_task_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-boldered">
    <thead>
        <tr>
            <td>
                设计单需求
            </td>

            <td>
                收到设计单数量
            </td>
            <td>
                设计费下限
            </td>
            <td>
                设计费上限
            </td>
            <td>
                管理选项
            </td>
            <td>
                刊登时间
            </td>
        </tr>
    </thead>

    <% @tasks.each do |task| %>
    <tr>

        <td>
            <%= render_task_status(task) %>

            <%= link_to(task.title, admin_task_path(task)) %>
        </td>
        <td> <%= link_to(task.resumes.count, admin_task_resumes_path(task)) %> </td>
        <td> <%= task.wage_lower_bound %> </td>
        <td> <%= task.wage_upper_bound %> </td>
        <td>
            <%= link_to edit_admin_task_path(task), class: "btn btn-xs btn-info" do %><i class="fa fa-pencil"></i><% end %>
            <%= link_to admin_task_path(task), :method => :delete, :class => "btn btn-xs  btn-danger", :data => { :confirm => "Are you sure?" } do %><i class="fa fa-trash-o"></i><% end %>
            <% if task.is_hidden %>
            <%= link_to publish_admin_task_path(task) , :method => :post, :class => "btn btn-xs btn-success" do %><i class="fa fa-eye"></i><% end %>
            <% else %>
            <%= link_to hide_admin_task_path(task), :method => :post,  :class => "btn btn-xs btn-warning" do %><i class="fa fa-eye-slash"></i><% end %>
            <% end %>
        </td>
        <td>
            <%= task.created_at %>
        </td>
    </tr>
    <% end %>
</table>
